---
new_page_extension: md
auto_deploy: true
admin_path: admin
webhook_url: 
sections:
- type: document
  path: _people
  label: People
- type: directory
  path: _projects
  label: Projects
  create: documents
  match: "**/*"
- type: jekyll-pages
  label: Pages
  create: all
- type: jekyll-posts
  label: Posts
  create: all
upload_dir: uploads
public_path: "/uploads"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
