---
layout: default
published: true
---

<div class="home">
  <div class="posts">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
<div class="mid-content-left">
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

  </div>
  <div class="mid-content-right">
  {% assign projects = site.projects | where: "featured", "true" | sort: 'featured-priority' %}
  {%- if projects != false -%}

   <div class="projects">
    <ul class="project-list">
    <h3 class="post-list-heading">Projects</h3>  
    {%- for project in projects -%}
    <li>
        <h3 class="project-title"><a href="{{ project.url }}">{{ project.title }}</a></h3>
        <p><a target="_blank" href="{{ project.repo }}">Learn about {{ project.title }} project on github</a></p>
    </li>
    {%- endfor -%}
    {%- endif -%}
</ul>
   </div>
</div>
</div></div>
